QWidget#resultLabel {       font-size: 24px;
                font-family: Georgia;
                word-spacing: -0.4px;
                color: rgb(255,255,255);
                }

QWidget#gameStatusLabel {       font-size: 48px;
                font-family: Georgia;
                word-spacing: -0.4px;
                color: rgb(255,255,255);
                }



QPushButton {   color: rgb(200, 255, 200);
                line-height: 6px;
                padding: 5px;
                border-radius: 18px;
                background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                    stop: 0 rgba(28, 110, 28, 230),
                    stop: 0.66 rgba(110, 255, 160, 230),
                    stop: 1 rgba(20, 167, 87, 230));
                border: 2px solid rgba(28, 110, 28, 240);
                }
