QWidget {       font-size: 24px;
                font-family: Georgia;
                word-spacing: -0.4px;
                color: rgb(255,255,255);
                }

QMainWindow {
                border-image: url(:/images/images/bg-abstract-medium.jpg) 0 0 0 0 stretch stretch
}

QLabel {
                background: rgba(0,0,0,100);
                margin: 10px;
                padding: 10px;
                border-radius: 25px;
}

QLabel#logoLabel {
                font-size: 128px;
                font-weight: bold;
                color: qlineargradient(x1:0, y1:50, x2:0 y2:150, stop: 0 rgb(28, 160, 164), stop: 0.66 rgb(135,236,255), stop: 1 rgb(20, 78, 117));
                background: rgba(0,0,0,100);
                border-radius: 25px;
                }

QLabel#finalScore {
                font-size: 128px;
                }

QTextEdit {
                background: rgba(0,0,0,100);
                margin: 10px;
                padding: 10px;
}

QPushButton {   color: rgb(255,255,255);
                line-height: 16px;
                padding: 15px;
                border-radius: 18px;
                background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                    stop: 0 rgba(28, 110, 164, 200),
                    stop: 0.66 rgba(35, 136, 203, 200),
                    stop: 1 rgba(20, 78, 117, 200));
                border: 2px solid rgb(28, 110, 164);
                }

QPushButton:hover {
                background: #1C6EA4; }

QPushButton:pressed {
                background: #144E75; }

QPushButton:disabled {
                background: rgba(35, 136, 203, 100); }

QPushButton#nextQuestionButton:disabled {
                color: transparent;
                border: transparent;
                background: transparent;
                }
QPushButton#resultLabel:disabled {
                color: transparent;
                border: transparent;
                background: transparent;
                }
QPushButton#gameStatusLabel:disabled {
                color: transparent;
                border: transparent;
                background: transparent;
                }

QDial
{
                border: white;
                background: green;
}

QListView {
                background: transparent;
                border: 0px;
}
